<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <meta name="mobile-web-app-capable" content="yes">

  <title>App</title>

  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css]%}" rel="stylesheet">
  {% } %}

  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
  <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry%}"></script>
  {% } %}
</head>
<body>
  <section id="app-container" class="app-container"></section>
</body>
</html>
